Bug: OIDC app login does not work with keycloak

### Is this urgent?

No

### What parts are affected

Both

### What is the server version

all documented

### What is the client version

all documented

### What platform are you using

iOS, Mac, Linux

### What's the problem 🤔

The docs of kitchenowl say that to use OIDC with the app you have to configure `kitchenowl:///signin/redirect` as callback. According to the BNF at [rfc1738 section 5](https://datatracker.ietf.org/doc/html/rfc1738#section-5) the host part has to always be provided, and even things like files (`file:///`) implies localhost and is a special case. Keycloak asserts that the host part of any scheme is not empty, and therefore does not allow to use this callback.
Maybe the host that runs the kitchenowl frontend can be added here for the apps, so that this works with spec asserting OIDC providers.

### Share your logs

```Shell

```

### Share your configuration

```yml

```

In the configuration it is possible to use `kitchenowl://*`, does this work?

> In the configuration it is possible to use `kitchenowl://*`, does this work?

Which configuration? More than likely not. As the keycloak code checkes on the actual value of the request and not the configuration. 
(Currently can't test as my kitchenowl NixOS packaging broke)

I can confirm that my setup works for browser and android app :) , version 0.6.10

![Image](https://github.com/user-attachments/assets/e0a2aa53-9544-434c-bb61-89154b7037a7)

@jeffrey-d-m @JifScharp Thanks for the info! I'll add it to the documentation.

This is a bug, not a docs issue. I'm surprised to see it working for @jeffrey-d-m as it does not seem to work on mine, for the reason mentioned by @kloenk .

While the issue is correct that a valid UR**L** must have a host component per RFC1738, a UR**I** does not necessarily have to. The recommendation in [RFC8252 section 7.1](https://datatracker.ietf.org/doc/html/rfc8252#section-7.1) for a private-use URI scheme states:

    Following the requirements of [Section 3.2 of [RFC3986]](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2), as there is
    no naming authority for private-use URI scheme redirects, only a
    single slash ("/") appears after the scheme component.  A complete
    example of a redirect URI utilizing a private-use URI scheme is:

      com.example.app:/oauth2redirect/example-provider

Therefore, I'd suggest using `kitchenowl:/signin/redirect` instead of `kitchenowl:///signin/redirect`. This seems to work with Keycloak in initial testing.

I've never done Android development before, but this seems a simple enough task that I'll try my hand at a PR.

As it turns out, even the app URI is generated on the server side. Applied a simple fix, tested, and found that it now works for me on desktop and on the mobile app. Opening a PR shortly.